extends templates/layout

block title
  title Главная111

block content
  include includes/header
  include includes/menu
  include includes/banner
  include includes/products
  include includes/info
  include includes/footer
